header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  padding: 10px 25px;
}

.logo__img {
  width: 100%;
}

.nav__ul {
  display: flex;
  list-style: none;
  position: relative;

  right: 50px;
}
.nav__ul--li {
  color: rgb(65, 143, 246);
  text-decoration: none;
  font-size: 1.5rem;
  border: solid 4px rgb(65, 143, 246);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 10px;
  background-color: rgb(255, 204, 1);
  font-weight: bolder;
  font-family: "Permanent Marker", cursive;
}

.nav__ul--li:hover {
  padding: 3px 10px 7px;
  box-shadow: 2px 2px 2px 1px rgba(65, 143, 246, 0.7);
  text-decoration: underline;
  transition: 0.4s;
}
